<h1 mat-dialog-title>Detalhes</h1>
<div mat-dialog-content class="card">
    <mat-card>
      <p *ngIf="isLoading">Carregando....</p>
      <table class="rtable" *ngIf="!isLoading">
        <tr>
          <th colspan="2">Tipo : &nbsp; {{_model.leadGroup.type}}</th>
          <th>Ref : &nbsp; {{_model.leadGroup.name}}</th>
          <th>Status : &nbsp; {{_model.leadGroup.status}}</th>
          <th>CNPJ : &nbsp; {{_model.uniqueKey}}</th>
        </tr>
        <tr>
            <th>Razão Social</th>
            <td>{{_model.officialName}}</td>
            <th>Nome Fantasia</th>
            <td colspan="2">{{_model.casualName}}</td>
        </tr>
        <tr>
            <th>Contato</th>
            <td>{{_model.contactNumber}}</td>
            <th>Email</th>
            <td colspan="2">{{_model.emailAddress}}</td>
        </tr>
        <tr>
            <th colspan="2">Produto Desejado</th>
            <td colspan="3">{{_model.mappedProduct}}</td>
        </tr>
        <tr *ngIf="_model.address">
            <th>Viabilidade por</th><th>CEP</th><th>Endereço</th><th>Número</th><th>complemento</th>
        </tr>
        <tr *ngFor="let add of _model.address; let i=index">
            <td>
              <i class="material-icons" *ngIf="add.towerBasedViabilidadeByDistance" title="radio">settings_input_antenna</i> &nbsp;
              <i class="material-icons" *ngIf="add.fobasedViabilidadeByDistance" title="fiber">wifi_tethering</i>
            </td>
            <td>{{add.zipCode}}</td>
            <td>{{add.address}}</td>
            <td>{{add.streetNumber}}</td>
            <td>{{add.complemento}}</td>
        </tr>
        <tr>
            <th colspan="2">Para  uso internal da Grupo Rede</th>
            <td colspan="3">{{_model.selectedProduct}}</td>
        </tr>
        <tr>
            <th colspan="2">Recados</th>
            <td colspan="3">{{_model.remarks}}</td>
        </tr>
      </table>
    </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" cdkFocusInitial>Fechar</button>
</div>