table{
    width: 100%;
}
.mat-raised-button.mat-green {
    background-color: #5cf436bd;
}

.item-container{
    display: flex;
    flex-direction: column;
}
.item-row{
    display: flex;
    justify-content: space-around;
    align-items:center; 
    margin-top: 10px;
}
.item-flex{
    flex: 1;
    margin-left:10px; 
}
.item{
    width: 15%;
    margin-left:10px;
}
.item-action{
    width: 20px;
}
