table{
    width: 100%;
}
.mat-raised-button.mat-green {
    background-color: #5cf436bd;
}

.item-container{
    display: flex;
    flex-direction: column;
}
.item-row{
    display: flex;
    justify-content: space-around;
    align-items:center; 
    margin-top: 10px;
}
.item-flex{
    flex: 1;
    margin-left:10px; 
}
.item{
    width: 15%;
    margin-left:10px;
}
.item-action{
    width: 20px;
}
.item-center{
    text-align: center;
    padding-right: 10px;
}
.progress{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color:blue;
    text-align: center;
}
.icon-success{
    font-size: 100px;
    color: green;
}
.item-container mat-card{
 margin-top: 7px;
 box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

}