<mat-toolbar color="primary">
    <span>Etapa</span>
</mat-toolbar>
<mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="firstFormGroup" [editable]="false">
        <ng-template matStepLabel>Qual Solução está buscando?</ng-template>
        <div class="item-container">
            <form [formGroup]="firstFormGroup">
                <mat-radio-group aria-label="Select an option" formControlName="opt_type" class="item-row" (change)="onTypeChnage()">
                    <mat-radio-button class="item-flex" value="LINK_DEDICADO">Link Dedicado</mat-radio-button>
                    <mat-radio-button class="item-flex" value="BANDA_LARGA">Banda Larga</mat-radio-button>
                    <mat-radio-button class="item-flex" value="LAN_TO_LAN">Ponto a Ponto</mat-radio-button>
                    <mat-radio-button class="item-flex" value="METRO_ETHERNET">Metro Ethernet</mat-radio-button>
                </mat-radio-group>
                <br>
                <div formArrayName="address_list" *ngFor="let skill of firstFormGroup.get('address_list').controls; let i = index">
                        <br>
                <mat-card>
                    <div class="item-row" [formGroupName]="i">
                        <mat-form-field class="item">
                            <input matInput placeholder="CEP" formControlName="zipCode" required>
                            <button mat-icon-button matSuffix (click)="getCEPData(i)">
                                <mat-icon>find_replace</mat-icon>
                            </button>
                            <mat-error *ngIf="(this.firstFormGroup.dirty || this.firstFormGroup.touched) &&
                            firstFormGroup.get('address_list').invalid">enter cep</mat-error>
                        </mat-form-field>
                        <mat-form-field class="item-flex">
                            <input matInput placeholder="Endereço" readonly formControlName="address">
                            <input type="hidden" formControlName="cep">
                            <input type="hidden" formControlName="city">
                            <input type="hidden" formControlName="state">
                            <input type="hidden" formControlName="country">
                            <mat-error *ngIf="this.invalidCEP">Invalid CEP!!!</mat-error>
                        </mat-form-field>
                        <mat-form-field class="item">
                            <input matInput placeholder="Número" formControlName="streetNumber">
                        </mat-form-field>
                        <mat-form-field class="item">
                                <input matInput placeholder="complemento" formControlName="complemento">
                            </mat-form-field>
                        <div class="item-action" *ngIf="isAddition"> 
                            <button mat-icon-button  (click)="addNewAddress()"  *ngIf="i==0; else del">
                                <mat-icon>note_add</mat-icon>
                            </button>
                            <ng-template #del>
                                <button mat-icon-button (click)="delAddress(i)" *ngIf="i>2">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-template>
                        </div>

                </div>
                </mat-card>
                </div>
                <br><br>
                <mat-card>
                <div class="item-row">
                    Conexão através de ?
                </div>
                <div class="item-row">
                    <div class="item-flex">
                            <mat-checkbox class="item-flex" value="RADIO" formControlName="fiber" (change)="mapProduct()">Fibra ótica</mat-checkbox> &nbsp;
                            <mat-checkbox class="item-flex" value="FIBRA_OTICA" formControlName="radio"  (change)="mapProduct()">Rádio frequência</mat-checkbox>
                            <input type="hidden" formControlName="mappedProduct">
                    </div>
                </div>
                <mat-error *ngIf="(this.firstFormGroup.dirty || this.firstFormGroup.touched) &&
                this.firstFormGroup.controls.mappedProduct.errors?.required">Selecione um ou mais dos produtos</mat-error>
            </mat-card>
            </form>
            <div class="item-row">
                <button mat-raised-button color="primary" matStepperNext>Avançar</button>
            </div>
        </div>


    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="false">
        <ng-template matStepLabel>Dados da empresa</ng-template>
        <mat-card>
        <div class="item-container">
            <form [formGroup]="secondFormGroup">
                <div class="item-row">
                    <mat-form-field class="full-width item-flex">
                        <input matInput placeholder="Razão social" formControlName="officialName" required>
                        <mat-error *ngIf="this.secondFormGroup.controls.officialName.errors">Preenche Razão Social .</mat-error>
                    </mat-form-field>
                </div>
                <div class="item-row">
                    <mat-form-field class="full-width item-flex">
                        <input matInput placeholder="CNPJ" formControlName="uniqueKey" required>
                        <mat-error *ngIf="this.secondFormGroup.controls.uniqueKey.errors">Preenche CNPJ.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="CEP" formControlName="cep">
                    </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Endereço" formControlName="address">
                        </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Número" formControlName="streetno">
                        </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Email" formControlName="emailAddress" required>
                            <mat-error *ngIf="this.secondFormGroup.controls.emailAddress.errors">Preenche E-mail.</mat-error>
                        </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Contato" formControlName="contato">
                        </mat-form-field>
                        <mat-form-field class="full-width item-flex">
                                <input matInput placeholder="Tel/Cel" formControlName="contactNumber" required>
                                <mat-error *ngIf="this.secondFormGroup.controls.contactNumber.errors">Preenche telefone.</mat-error>
                        </mat-form-field>
                </div>
            </form>
        </div>
       <div class="mat-button-row">
            <button mat-raised-button (click)="stepper.reset()">Voltar</button>
            <button mat-raised-button color="primary" (click)="onFinish(stepper)">Verificar Viabilidade</button>
        </div>
    </mat-card>
    </mat-step>
    <mat-step>
            <ng-template matStepLabel>Resultado</ng-template>
            
            <div class="item-container">
                    <div class="item-row" *ngIf="isProgress">
                        <div class="item-flex progress">
                                <label>
                                    <mat-icon matPrefix>hourglass_empty</mat-icon>
                                     Verificando viabilidades....
                                </label>  
                        </div>
                    </div>
                    <p color="red" align="center" *ngIf="!isProgress">RESULTADO DE PRÉVIABILIDADE
                    </p>
                    <div class="item-row" *ngIf="!isProgress"  >
                        <div class="item-flex">
                                <p><b>Numero de referencia : </b>{{result.leadGroup.name}}</p> 
                                <p><b>Fibra ótica Viabilidade por distancia : </b>{{result.foBasedViabilidadeByDistance}} <b>%</b> </p> 
                                <p><b>Radio Viabilidade por distancia : </b>{{result.radioBasedViabilidadeByDistance}} <b>%</b></p> 
                                <!-- <p><b>Para uso internal : </b>{{result.selectedProduct}}</p>  -->
                                <p><b>Produtos Selecionado neste orçamento : </b>{{result.mappedProduct}}</p> 
                                <p><b>Numero de endereços neste orçamento : </b>{{result.address.length}}</p>
                        </div>
                        <div class="item item-center" align="center">
                            <mat-icon class="icon-success">verified_user</mat-icon>
                        </div>
                    </div>
                    <p color="red" *ngIf="!isProgress" align="center" >Valores e maiores informações vai ser encaminhado para o email informado.
                    </p>
            </div>
            <br>
            <br>
            <div class="mat-button-row" *ngIf="!isProgress">
               <div mat-dialog-actions align="end">
                   <button mat-raised-button color="green" float="end" (click)="stepper.reset()">Fechar</button>
                </div>
            </div>
        </mat-step>
</mat-horizontal-stepper>