<mat-toolbar color="primary">
    <span>Cadastro</span>
</mat-toolbar>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="false">
        <ng-template matStepLabel>Qual Solução Está buscando?</ng-template>
        <div class="item-container">
            <mat-card>
                <div class="item-row">
                  PRODUTO EM INTERESSE ?
                </div>
            </mat-card> 
            <form [formGroup]="firstFormGroup">
                <mat-radio-group aria-label="Select an option" formControlName="opt_type" class="item-row" (change)="onTypeChnage()">
                    <mat-radio-button class="item-flex" value="LINK_DEDICADO">Link Dedicado</mat-radio-button>
                    <mat-radio-button class="item-flex" value="BANDA_LARGA">Banda Larga</mat-radio-button>
                    <mat-radio-button class="item-flex" value="LAN_TO_LAN">Ponta a Ponta</mat-radio-button>
                    <mat-radio-button class="item-flex" value="METRO_ETHERNET">Metro Ethernet</mat-radio-button>
                </mat-radio-group>
                <div formArrayName="address_list" *ngFor="let skill of firstFormGroup.get('address_list').controls; let i = index">
                <mat-card>
                    <div class="item-row" [formGroupName]="i">
                        <mat-form-field class="item">
                            <input matInput placeholder="CEP" formControlName="zip" required>
                            <button mat-icon-button matSuffix (click)="getCEPData(i)">
                                <mat-icon>find_replace</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="item-flex">
                            <input matInput placeholder="Endereço" readonly formControlName="address">
                            <input type="hidden" formControlName="cep">
                            <input type="hidden" formControlName="city">
                            <input type="hidden" formControlName="state">
                            <input type="hidden" formControlName="country">
                        </mat-form-field>
                        <mat-form-field class="item">
                            <input matInput placeholder="Número" formControlName="streetNumber">
                        </mat-form-field>
                        <mat-form-field class="item">
                                <input matInput placeholder="complemento" formControlName="complemento">
                            </mat-form-field>
                        <div class="item-action" *ngIf="isAddition"> 
                            <button mat-icon-button  (click)="addNewAddress()"  *ngIf="i==0; else del">
                                <mat-icon>note_add</mat-icon>
                            </button>
                            <ng-template #del>
                                <button mat-icon-button (click)="delAddress(i)" *ngIf="i>2">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-template>
                        </div>
                        

                </div>
                </mat-card>
                </div>
                <br><br><br>
                <mat-card>
                <div class="item-row">
                    QUER CONECTIVIDADE POR ?
                </div>
                <div class="item-row">
                    <div class="item-flex">
                            <mat-checkbox class="item-flex" value="RADIO" formControlName="fiber" (change)="mapProduct()">fibra óptica</mat-checkbox> &nbsp;
                            <mat-checkbox class="item-flex" value="FIBRA_OTICA" formControlName="radio"  (change)="mapProduct()">rádio Frequência</mat-checkbox>
                            <input type="hidden" formControlName="mappedProduct">
                    </div>
                </div>
            </mat-card>
            </form>
            <div class="item-row">
                <button mat-raised-button color="primary" matStepperNext>Avançar</button>
            </div>
        </div>


    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="false">
        <ng-template matStepLabel>Dados da empresa</ng-template>
        <mat-card>
        <div class="item-container">
            <form [formGroup]="secondFormGroup">
                <div class="item-row">
                    <mat-form-field class="full-width item-flex">
                        <input matInput placeholder="Razão social" formControlName="officialName" required>
                    </mat-form-field>
                </div>
                <div class="item-row">
                    <mat-form-field class="full-width item-flex">
                        <input matInput placeholder="CNPJ" formControlName="uniqueKey" required>
                    </mat-form-field>
                    <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="CEP" formControlName="cep">
                    </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Endereço" formControlName="address">
                        </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Número" formControlName="streetno">
                        </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Email" formControlName="emailAddress" required>
                        </mat-form-field>
                </div>
                <div class="item-row">
                        <mat-form-field class="full-width item-flex">
                            <input matInput placeholder="Contato" formControlName="contato">
                        </mat-form-field>
                        <mat-form-field class="full-width item-flex">
                                <input matInput placeholder="Tel/Cel" formControlName="contactNumber" required>
                        </mat-form-field>
                </div>
            </form>
        </div>
       <div class="mat-button-row">
            <button mat-raised-button (click)="stepper.reset()">Reset</button>
            <button mat-raised-button color="primary" (click)="onFinish(stepper)">Avançar e Checkar Viabilidade</button>
        </div>
    </mat-card>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Resultado</ng-template>
        You are now done.
        <pre>{{this.firstFormGroup.value|json}}</pre>
        <pre>{{this.secondFormGroup.value|json}}</pre>
        <div class="mat-button-row">
            <button mat-raised-button color="green" (click)="stepper.reset()">Fechar</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>