<h1 mat-dialog-title>Bem vindo parceiro : Apresentando sistema de cadastro.</h1>
<div mat-dialog-content>
<mat-card>
<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Qual solução <br>está buscando?</ng-template>
        <p>Etapa 1:<br>
            Você deve escolher o produto do seu interesse , sendo as opções: Link Dedicado , Banda Larga , Ponto a Ponto ou Metro Ethernet.
        </p>
        <div class="mat-button-row">
            <button mat-raised-button color="primary" matStepperNext>próximo</button>
        </div>
    </mat-step>
    <mat-step [editable]="false">
        <ng-template matStepLabel>Dados da empresa</ng-template>
        <p>Etapa 2:<br>
            Informar alguns dados do local de instalação</p>
        <div class="mat-button-row">
            <button mat-raised-button matStepperPrevious>De volta</button>
            <button mat-raised-button color="primary" matStepperNext>próximo</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Resultado</ng-template>
        Etapa 3:<br>
        Resultado da pesquisa , onde maiores detalhes e valores serão encaminhados no e-mail informado.
        <div class="mat-button-row">
            <button mat-raised-button  matStepperPrevious>De volta</button> 
            <button mat-raised-button color="primary" (click)="stepper.reset()">Leia denovo</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
</mat-card>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="accent" (click)="onCancel()">Ja entendi !</button>
</div>