.landing-page {
    background:rgba(0,0,0,0.4);
    position: relative;
    height: 100%;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-page:before{
    position:absolute;
    content: '';
    left:0;
    right:0;
    width:100%;
    height:100%;
    background-image:  url("/assets/img/bg.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index:-1;
  }

.login-Container{
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.5);
}
.logo{
    width: 200px;
    height: 110px;

}
.forgetlink{
    font-size: 13px;
    color: gray;

}
