.container-table{
  width: 90%;
  margin: 0 auto;
  justify-items: center;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }