
<mat-toolbar class="toolbarHead">
    <mat-toolbar-row>
      <span><img class="logo" src="../../assets/img/logo.png"></span>
      <a mat-button routerLink="/home/dashbord">Painel</a>
      <a mat-button  routerLink="/home/reg">Nova Cotação</a>
      <span class="header-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="main-Container"></div>
  <router-outlet></router-outlet>